<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Write</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css" />
  <link rel="stylesheet" type="text/css" th:href="@{/css/visitor-write.css}" />
  <link rel="stylesheet" type="text/css" href="/css/visitor-write.css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.8/dist/web/static/pretendard-dynamic-subset.css" />

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script>
    function submitForm1(event) {
      event.preventDefault();
      var formData = {
        house: document.getElementById('house').value,
        now: document.getElementById('now').value,
        time: document.getElementById('time').value,
        preference: document.getElementById('preference').value,
        living: document.getElementById('living').value
      };

      fetch('/get-data', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify(formData)
      })
              .then(response => response.json())
              .then(data => {
                document.getElementById('result').innerText = data.result;
                document.getElementById('hiddenField').value = data.result;
              })
              .catch(error => console.error('Error:', error));
    }

    function submitForm2(event) {
      document.getElementById('dynamicForm').action = '/upload2';
    }
  </script>
</head>

<body>
<!-- 헤더는 나중에 js로 연결하기 -->
<header class="header">
  <a href="/"><img class="back list_icon" src="/img/backicon.svg" alt="뒤로가기"></a>
  <img class="prism list_icon2" src="/img/kb.png" alt="로고" id="logo">
  <input class="menu-btn" type="checkbox" id="menu-btn" />
  <label class='menu-icon' for="menu-btn" onclick="toggle()">
    <div class='menu-button'>
      <img src="/img/hamburger.svg" alt="로고" class="Group 1_pink">
    </div>
  </label>
</header>
<form id="dynamicForm" method="POST" enctype="multipart/form-data">
  {% csrf_token %}
  <div class="container_main" id="blur">
    <main>
      <div id="wrap">
        <div id="title">
          <div class="title_photo">
            <img src="/img/staricon.svg"></img>
          </div>
          <div class="title_tx">내 집 마련하기</div>
        </div>
        <div class="container">
          <div class="title_ex">하고 싶은 말을 작성해 주세요 :)</div>
          <div class="label_wrap">
            <label for="house">꿈의 집</label>
          </div>
          <input type="text" id="house" name="house"
                 maxlength="20" minlength="4" placeholder="꿈의 집을 입력해주세요"/>
          <div class="label_wrap">
            <label for="now">현재 자금</label>
          </div>
          <input type="text" id="now" name="now"
                 maxlength="20" minlength="4" placeholder="현재 자금을 입력해주세요"/>
          <div class="label_wrap">
            <label for="time">목표 년수</label>
          </div>
          <input type="text" id="time" name="time"
                 maxlength="4" minlength="4" placeholder="목표 년수를 입력해주세요"/>

          <div class="label_wrap">
            <label for="preference">투자 성향</label>
          </div>
          <input type="text" id="preference" name="preference"
                 maxlength="20" minlength="1" placeholder="Conservative / Moderate / Aggressive / Balanced"/>
          <div class="label_wrap">
            <label for="living">매달 생활비</label>
          </div>
          <input type="text" id="living" name="living"
                 maxlength="20" minlength="4" placeholder="매달 생활비를 입력해주세요"/>
          <input type="button" id="submit1" value="포토폴리오 생성" onclick="submitForm1(event)">
          <div class="caution" id="result">
            <div>* 포토폴리오를 짜드립니다.</div>
          </div>
          <input type="hidden" id="hiddenField" name="hiddenData" />
          <input type="submit" id="submit2" value="결과 업로드" onclick="submitForm2(event)">
        </div>
      </div>
    </main>
  </div>
</form>
</body>
</html>
